@using Microsoft.AspNetCore.Identity
@using GFHRSolution.Areas.Identity.Data
@inject SignInManager<GFHRSolutionUser> SignInManager
@inject UserManager<GFHRSolutionUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GFHRSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="page-wrapper chiller-theme toggled">
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">prod</a>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Employees
                                </a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Create">Create Employee</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees List</a>

                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Designations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Designations" asp-action="Create">CreateDesignation</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Designations" asp-action="Index">Designations</a>

                                </div>
                            </li>



                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Countries
                                </a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Create">Create Country</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Index">Countries</a>

                                </div>
                            </li>




                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        Account settings
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
                                        <a class="nav-link text-dark" href="/Identity/Account/ResetPassword">Reset Password</a>

                                    </div>
                                </li>





                            }
                        </ul>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form class="form-inline my-2 my-lg-0" method="post" asp-controller="Home" asp-action="Logout">


                                <input class="form-control mr-sm-2" type="submit" value="Logout">

                            </form>
                        }

                    </div>
                </div>
            </nav>*@

        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">GF HR Solution</a>

                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>@UserManager.GetUserName(User)</strong>
                        </span>
                        <span class="user-role">Administrator</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                @*<div class="sidebar-search">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control search-menu" placeholder="Search...">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Masters</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-user-tie"></i>
                                <span>Employees</span>
                                @*<span class="badge badge-pill badge-warning">New</span>*@
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Employees" asp-action="Create">Create Employee</a>

                                        @*<span class="badge badge-pill badge-success">Pro</span>*@

                                    </li>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Employees" asp-action="Index">Employees List</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-suitcase"></i>
                                <span>Designation</span>
                                @*<span class="badge badge-pill badge-danger">3</span>*@
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Designations" asp-action="Create">New Designation</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Designations" asp-action="Index">Designation List</a>

                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-globe-asia"></i>
                                <span>Countries</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Countries" asp-action="Create">Add Country</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-muted" asp-area="" asp-controller="Countries" asp-action="Index">Country List</a>

                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="header-menu">
                            <span>Settings</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-toolbox"></i>
                                <span>Account Settings</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a class="nav-link text-muted" href="/Identity/Account/Register">Register</a>
                                    </li>
                                    <li>
                                        <a class="nav-link text-muted" href="/Identity/Account/ResetPassword">Reset Password</a>

                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <form id="p" style="margin-left:-13px" method="post" asp-controller="Home" asp-action="Logout">
                                    <button  class="btn" style="background-color:transparent;" type="submit" name="culture">
                                        <span>
                                            <i style="width:215px;color:grey" class="fa fa-power-off" > Log Out 
                                            </i>
                                        </span>
                                    </button>

                                    


                                </form>
                            </a>

                        </li>





                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="page-content pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted ">
        <div class=" page-content container ">

            &copy; 2021 - GFHRSolution - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/Sidebar/css/sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Sidebar/js/sidebarscr.js"></script>


    @RenderSection("Scripts", required: false)
    
</body>
</html>
