@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GFHRSolution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="~/css/pages/login.css" rel="stylesheet" />*@
    <style>
        html,
        body {
            height: 80%;
            font-size: 90%;
            background-image: url('../../images/flat-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div style="background-color:whitesmoke; opacity:80%; border-radius:15px; margin-top:5%" class="col-8  col-lg-4 offset-lg-4 div-wrapper d-flex justify-content-center align-items-center bg-light">
            @*<div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8"/>*@

                <div class="div-to-align col-lg-10">
                    <br /><br />
                    <h3>@ViewData["Title"]</h3>
                    <section>
                        <form id="account" method="post">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Input.UserName"></label>
                                    <input asp-for="Input.UserName" class="form-control" placeholder="UserName" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary col s12 ">Log in</button>
                                </div>

                                <br />
                        </form>
                    </section>
                </div>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
